<ul class="nav">
    <li><a href="/core/App/setup">Setup & Config</a></li>
    <li><a href="/core/App/app_factory">App Factory</a></li>
    <li><a href="/core/DI">Dependency Injection</a></li>
    <li><a href="/core/App/hooks">Hooks</a></li>
    <li><a href="/core/Registration/">Registration</a></li>
    <li><a href="/core/App/view">View</a></li>
    <li><a href="/module">Modules</a>
        <ul class="nav sub">
            {% for mod in site.data.modules %}
            <li><a href="{{ mod.url }}">{{ mod.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="/lib">Libraries</a>
        <ul class="nav sub">
            {% for lib in site.data.libraries %}
            <li><a href="{{ lib.url }}">{{ lib.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
<style>
    .highlight .err {
        background-color: transparent;
        color: #ca76017a;
    }
</style>