<style>
    ul.nav {
        list-style: none;
    }
    
    ul.nav li {
        margin-bottom: 8px;
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: bold;
        color: #474747;
        text-indent: 3px;
    }
    
    ul.nav ul li {
        color: pink;
    }
</style>

<ul class="nav">
    <li><a href="/core/setup-config">Setup & Config</a></li>
    <li>Dependency Injection</li>
    <li>Hooks</li>
    <li>Registration</li>
    <li>View</li>
    <li><a href="/module">Modules</a>
        <ul class="nav sub">
            <li>
                <a href="/module/Hook_Subscriber">Hook Subscriber</a>
            </li>
            <a href="/module/BladeOne_Provider">BladeOne Templating</a>
            <li>Registerables</li>
            <li>Admin Menu</li>
            <li>Settings Page</li>
            <li>Route Builder</li>
            <li>WP Ajax</li>
        </ul>
    </li>
    <li><a href="/lib">Libraries</a>
        <ul class="nav sub">
            <li>
                <a href="/lib/Collection">Collection</a>
            </li>
            <li>
                <a href="/lib/Table Builder">Table Builder</a>
            </li>
            <li>WPDB Migrations</li>
            <li>Hook Loader</li>
            <li>WP_PSR16 Caching</li>
            <li>Form Fields</li>
            <li>WP Nonce</li>
            <li>Enqueue</li>
            <li>WP HTTP Helper</li>
        </ul>
    </li>
</ul>