<style>
    ul.nav {
        list-style: none;
    }
    
    ul.nav li {
        margin-bottom: 8px;
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 16px;
        font-weight: bold;
        color: #474747;
        text-indent: 3px;
    }
    
    ul.nav ul li {
        color: pink;
    }
</style>

<ul class="nav">
    <li><a href="/core/App/setup">Setup & Config</a></li>
    <li><a href="/core/DI">Dependency Injection</a></li>
    <li><a href="/core/App/hooks">Hooks</a></li>
    <li><a href="/core/Registration/">Registration</a></li>
    <li><a href="/core/App/view">View</a></li>
    <li><a href="/module">Modules</a>
        <ul class="nav sub">
            <li>
                <a href="/module/Hook_Subscriber">Hook Subscriber</a>
            </li>
            <a href="/module/BladeOne_Provider">BladeOne Templating</a>
            <li>Registerables</li>
            <li>Admin Menu</li>
            <li>Settings Page</li>
            <li>Route Builder</li>
            <li><a href="/module/Ajax">WP Ajax</a></li>
        </ul>
    </li>
    <li><a href="/lib">Libraries</a>
        <ul class="nav sub">
            <li>
                <a href="/lib/Collection">Collection</a>
            </li>
            <li>
                <a href="/lib/Table Builder">Table Builder</a>
            </li>
            <li><a href="/lib/Migrations">Migrations</a></li>
            <li>Hook Loader</li>
            <li>WP_PSR16 Caching</li>
            <li>Form Fields</li>
            <li> <a href="/lib/WP_Nonce">WP Nonce<a></li>
            <li><a href="/lib/Enqueue">Enqueue</a></li>
            <li>WP HTTP Helper</li>
        </ul>
    </li>
</ul>